.landingpage__container {
  height: 93vh;
  width: 100vw;
  position: relative;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
}

.landingpage__header {
  font-size: 2rem;
  color: var(--color-text-tertiary);
  text-align: center;
  margin-top: 1rem;
  font-family: "Roboto", sans-serif;
}

.landingpage__boardborder {
  height: 50vh;
  aspect-ratio: 16/9;
  background-color: var(--color-border);
  border-radius: 1rem;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: var(--box-shadow-black);
  box-sizing: border-box;
  padding: 0.75rem;
}

.landingpage__boardcontent {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  box-sizing: border-box;
  background-color: var(--color-text-secondary);
}

.landingpage__gif {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.landingpage__people {
  height: 50vh;
  width: 100vw;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  filter: drop-shadow(0px 2px 4px var(--color-text-primary));
}
