.landingpage__container {
  height: 93vh;
  width: 100vw;
  position: relative;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
}

.landingpage__header {
  font-size: 2rem;
  color: var(--color-text-tertiary);
  text-align: center;
  margin-top: 1rem;
  font-family: "Roboto", sans-serif;
}

.landingpage__boardborder {
  height: 50vh;
  aspect-ratio: 16/9;
  background-color: var(--color-border);
  border-radius: 1rem;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: var(--box-shadow-black);
  box-sizing: border-box;
  padding: 0.75rem;
}

.landingpage__boardcontent {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  box-sizing: border-box;
  background-color: var(--color-text-secondary);
}

.landingpage__gif {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.landingpage__people {
  height: 50vh;
  width: 100vw;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  filter: drop-shadow(0px 2px 4px var(--color-text-primary));
}

/* Media Queries */

/* For tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  .landingpage__header {
    font-size: 1.75rem;
  }

  .landingpage__boardborder {
    height: 45vh;
    aspect-ratio: 16/9;
    top: 40%;
  }

  .landingpage__people {
    height: 40vh;
  }
}

/* For large screens */
@media (min-width: 1025px) {
  .landingpage__header {
    font-size: 2.25rem;
  }

  .landingpage__boardborder {
    height: 50vh;
    top: 35%;
  }

  .landingpage__people {
    height: 50vh;
  }
}

/* For small devices */
@media (max-width: 767px) {
  .landingpage__header {
    font-size: 1.5rem;
  }

  .landingpage__boardborder {
    height: 25vh;
    top: 25%;
  }

  .landingpage__people {
    height: 20vh;
    bottom: 10vh;
    filter: drop-shadow(0px 0px 10px var(--color-text-primary));
  }
}
