.profile__window {
  height: 93vh;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.profile__container {
  min-height: 20vh;
  min-width: 35vw;
  display: inline-flex;
  flex-direction: column;
  background: var(--color-bg);
  color: var(--color-text-primary);
  border: 2px solid var(--color-border);
  box-sizing: border-box;
  position: relative;
  margin-top: 5rem;
  border-radius: 10px;
  padding: 1.5rem;
  row-gap: 1rem;
}

.profile__header {
  display: flex;
  flex-direction: column;
}

.profile__title {
  display: flex;
  align-items: center;
  font-family: "Geist-SemiBold", sans-serif;
  font-size: 2rem;
  user-select: none;
}

.profile__description {
  font-size: 0.9rem;
  font-family: "Geist-Regular", sans-serif;
  user-select: none;
  color: var(--color-text-secondary);
  margin-bottom: 0.5rem;
}

.profile__input {
  padding: 0;
  background: transparent;
  color: var(--color-text-secondary);
  transition: 0.2s ease;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profile__input label {
  font-size: 0.85rem;
  font-family: "Geist-Medium", sans-serif;
  user-select: none;
  color: var(--color-text-primary);
}

.profile__input span {
  font-size: 0.75rem;
}

.profile__input input,
.profile__input select,
.profile__input textarea {
  border: none;
  background: none;
  color: var(--color-text-primary);
  font-family: "Geist-Regular", sans-serif;
  font-size: 0.85rem;
  outline: none;
  border: 1px solid var(--color-border);
  padding: 0.75rem;
  margin-top: 0.35rem;
  border-radius: 0.5rem;
}

.profile__input select {
  width: 100%;
}

.profile__input textarea {
  resize: none;
  min-width: 30vw;
  height: 20vh;
}

.profile__input select option {
  background: var(--color-bg);
  color: var(--color-text-primary);
}

.profile__input select option:checked {
  background: var(--color-bg-body);
}

.profile__input input:focus {
  border-color: var(--color-text-secondary);
}

.profile__group {
  display: flex;
  flex-direction: row;
  column-gap: 1.5rem;
  align-items: last baseline;
}

.profile__button {
  font-size: 1rem;
  font-family: "Geist-Medium", sans-serif;
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
  background: var(--color-text-primary);
  color: var(--color-bg);
  cursor: pointer;
  user-select: none;
  transition: 0.2 ease;
  padding: 0.6rem 1.5rem;
}

.profile__button:hover {
  opacity: 0.9;
}

.profile__button--group {
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.profile__button--fetch {
  width: 50%;
}

.disabled input:hover {
  user-select: none;
  cursor: not-allowed;
  opacity: 0.5;
}
