.outputbox__container {
    max-height: 74vh;
    width: 50vw;
    position: relative;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    overflow-y: scroll;
}

.outputbox__container::-webkit-scrollbar {
    display: none;
}

.outputbox__content span{
    display: flex;
    flex-direction: row;
    font-family: 'Geist-Regular', sans-serif;
}

.outputbox__image {
    height: 20px;
    width: 20px;
    margin: 1.25rem;
}

.outputbox__textspace {
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--color-text-primary);
    box-sizing: border-box;
    flex-wrap: wrap;
    padding: 1rem 0;
    white-space: pre-wrap;
    border-bottom: 1px solid var(--color-border);
}

.outputbox__textspace_output {
    padding: 0;
}

.loader {
    height: 20px;
    width: 20px;
}