
.referral__generations {
    height: 12vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
}

.referral__title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-text-primary);
    user-select: none;
}

.referral__stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background: #09090b;
    border: 1px solid var(--color-border);
    color: var(--color-text-primary);
    box-shadow: var(--box-shadow-black);
    box-sizing: border-box;
    cursor: default;
}

.referral__stat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background: var(--color-bg);
    border: 1px solid var(--color-border);
    box-sizing: border-box;
}

.referral__stat:first-child {
    margin-right: 1rem;
}

.referral__generatebox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background: var(--color-bg);
    border: 1px solid var(--color-border);
    box-shadow: var(--box-shadow-black);
    box-sizing: border-box;
}

.referral__input {
    width: 3rem;
    font-size: 1rem;
    font-family: 'Geist-Medium', sans-serif;
    padding: 0.5rem 1rem;
    border: 1px solid var(--color-border);
    border-radius: 0.5rem;
    background: var(--color-bg);
    color: var(--color-text-primary);
    cursor: text;
    user-select: none;
    transition: .2 ease;
    margin-right: 1rem;
}

.referral__button {
    font-size: 1rem;
    font-family: 'Geist-Medium', sans-serif;
    padding: 0.5rem 1rem;
    border: 1px solid var(--color-border);
    border-radius: 0.5rem;
    color: var(--color-bg);
    background-color: var(--color-text-primary);
    cursor: pointer;
    user-select: none;
    transition: .2 ease;
}

.referral__button:hover {
    background-color: var(--color-text-secondary);
}

.referral__boxcodes {
    max-height: 81vh;
    position: relative;
    top: 0px;
    left: 0px;
    background-color: var(--color-bg-body);
    color: var(--color-text-primary);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: auto;
    padding: 2rem;
    box-sizing: border-box;
    row-gap: 2rem;
}

.referral__boxcodes::placeholder {
    color: var(--color-text-secondary);
}

.referral__boxcodes::-webkit-scrollbar {
    width: 12px;
}

.referral__boxcodes::-webkit-scrollbar-track {
    background: var(--color-bg-body);
}

.referral__boxcodes::-webkit-scrollbar-thumb {
    background-color: var(--color-text-tertiary);
    border-radius: 20px;
    border: 3px solid var(--color-bg-body);
}

.referral__table {
    padding: 1rem;
    display: inline-block;
    border-radius: 0.5rem;
    background: var(--color-bg);
    border: 1px solid var(--color-border);
    box-shadow: var(--box-shadow-black);
}

.referral__table tr td {
    text-align: left;
    padding: 0.1rem;
}

.referral__status {
    display: flex;
    justify-content: flex-end;
}

